<h2 class ="mt-5">Sign in to your account</h2>

<% if flash[:error].present? %>
  <p class="error">
    <%= flash[:error] %>
  </p>
<% end %>

<%= form_tag login_path do %>
  <div class="form-group mb-2">
    <%= label_tag :username, "Username", :class => 'form-label' %>
    <%= text_field_tag :username, nil, :class => 'form-control', :autofocus => true %>
  </div>
  <div class="form-group mb-2">
    <%= label_tag :password, "Password", :class => 'form-label' %>
    <%= password_field_tag :password, nil, :class => 'form-control' %>
  </div>
  <br>
  <div class="text-center">
    <%= submit_tag "Continue", :class => 'btn btn-primary w-50 mb-3'%>
    <br>
    <p>Don't have an account? <%= link_to 'Sign up', new_user_path %></p>
    <pre>———   or   ———</pre>
  <% end %>
    <%= button_to "", "/auth/google_oauth2", :class => 'google-signin btn btn-lg mb-3' %>
    <%= button_to "/auth/github", :class => 'btn btn-block btn-social btn-github' do %>
      <span class="fa fa-github"></span> Sign in with GitHub
    <% end %>

  </div>




