<h1>Toldya.</h1>
<p>A community driven destination review site.</p>

<% if @current_user.present? %>
  <p>Welcome <%= @current_user.first_name %></p>
<% end %>

<%= form_tag destinations_path, :method => :get do %>
  <%= label_tag :destination, "Search for Destination:" %>
  <%= search_field_tag :destination %>

  <%= submit_tag "Search"%>
<% end %>