<h2 class="my-4">Results matching "<%= @query %>"</h2>
<% @destinations.sort.each { |destination| %>
  <%= link_to destination_path(destination.id), :action => 'go' do %>
    <div class="search-destination mb-4">
      <h3><%= destination.name.titlecase %></h3>
      <p><%= destination.address.titlecase %></p>
    </div>
    <hr>
  <% end %>
<% } %>

<% if @result.present? %>
 <% @result.each{ |r| %>
    <%= link_to destinations_path(:destination => r), :method => :post do %>
      <div class="search-destination">
        <h3><%= r[:name].titlecase %></h3>
        <p><%= r[:address].titlecase %></p>
      </div>
      <hr>
    <% end %>  
  <% } %>
<% end %>
